# log settings
LOG_LEVEL=
LOG_PATH=
LOG_NAME=
LOG_COUNT=
LOG_SIZE=

# database settings
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
HOST_DOCKER_INTERNAL=

# server settings
SERVER_HOST=
SERVER_PORT=
SERVER_WORKERS=
SERVER_LOG_LEVEL=

# parser settings
# time format: hh:mm
PARSER_START_TIME=
# timezone [0 ... 23]
PARSER_UTC=
